<!DOCTYPE html>
<html>
<head>
  <title>Password Reset</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" href="<%= root_url %>favicon.ico"/>
</head>
<body>
<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>
<p>For your account, a password reset was requested. Please click on the URL below to reset it:</p>
<p>
  <%= link_to edit_password_url(@user, reset_password_token: @user.reset_password_token), edit_password_url(@user, reset_password_token: @user.reset_password_token) %>
</p>
<p>Regards,</p>
<em>Your Application Name</em>
</body>
</html>
