<!DOCTYPE html>
<html>
<head>
  <title>Need Attention</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Hello developers,</p>
<p>An error occured while inserting log into the database. Following is the error</p>
<p>
  error: <%=@error%>
</p>
<p>
  log: <%=@payload%>
</p>
<p>Regards,</p>
</body>
</html>
