<!DOCTYPE html>
<html>
<head>
  <title>Password Reset</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Hello <%= @resource.first_name %> <%= @resource.last_name %>,</p>
<p>For your account, a password reset was requested. Please click on the URL below to reset it:</p>
<p>
  <%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %>
</p>
<p>Regards,</p>
<em>Your Application Name</em>
</body>
</html>
